<section>
<div class="example-button-row" >
<button mat-raised-button color="primary">Izdaj sertifikat</button>
<button mat-raised-button color="primary">Distribuiraj sertifikat</button>
<button mat-raised-button color="primary">Uvid u sertifikate</button>
<button mat-raised-button color="warn">Povuci sertifikat</button>

</div>
</section>