
th{
 //   padding: 15px 10px;
  //  text-align: center;
    font-weight: 500;
    font-size: 23px;
   // color: lightblue;
    text-transform: uppercase;
    background-color: rgba(71, 167, 181, 0.5);
    height: 60px;

  }


table{

//text-align: center;
position: absolute;
top: 7%;

height: 300px;
width: auto;
//margin-left: 40%;
//color: lightblue;

}


tbody{
  display:block;
  overflow: auto;
  height: 500px;
  font-weight: 500;
  font-size: 20px;


//  text-align: center;
}

thead tr {
   display: block;
 //  color: rgb(28, 28, 112);
 //text-align: center;

}



th, td {
    padding: 10px;
    width: 255px;
    text-align: center;
  }