<table ng-table="tableParams" show-filter="true" class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let head of headElements; let i = index" scope="col">
        {{ head }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of certificates; let i = index">
      <td scope="row">{{ el.certificateName }}</td>
      <td>{{ el.givenName }}</td>
      <td>{{ el.surname }}</td>
      <td>{{ el.startDate | date: "dd/MM/yyyy" }}</td>
      <td>{{ el.endDate | date: "dd/MM/yyyy" }}</td>
      <td>
        
          <!-- <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="getRevokeReason()"
          >
            Razlog
          </button> -->
          <select (change) = "selectChangeHandler($event)">
            <option *ngFor="let reason of certReasons;" [value]="reason" class="dropdown-item">{{reason}}</option> 
          </select>
          <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div> -->
          <!-- <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown"> 
            <label *ngFor="let reason of certReasons;" style="font-size: 10px;display: block;">
              {{reason}}
              <input id="{{reason}}" type="checkbox" class ="dropdown-item" style="display: inline-block;width:unset;">
            </label>     
          </div> -->
          <!-- <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown" (change)="selectChangeHandler($event)"> 
            <select [(ngModel)] = "certReason" (change) = "selectChangeHandler($event)">
              <option *ngFor="let reason of certReasons;" [ngValue]="reason" class="dropdown-item"  >{{reason}}</option> 
            </select>
               
          </div> -->
       
        <button
            class="btn btn-secondary"
            type="button"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="revokeCertificate(el)">
            Povuci
          </button>

      </td>
      
    </tr>
  </tbody>
</table>
