/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~bootstrap/dist/css/bootstrap.min.css";
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);

html, body { height: 100%; 
//background-color: rgb(57, 146, 204);
//background-image: url("/assets/0798adf9c191e928d86114726aaee261.jpg"); 
//background-image: url("/assets/1282799.jpg"); 

background-image: url("/assets/1282794.jpg");
//background-image: url("/assets/958470.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
margin-top: 0%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
