<div class="bg">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 style="color: #ffc312">Kreiranje sertifikata</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <select
              name="request"
              required
              [(ngModel)]="certificate.request"
              (input)="onChange(this.certificate.request)" 
              id="certificateRequest"  class="form-control" >
              <option *ngFor="let cer of certificateRequests; let i = index" value="Zahtev" [ngValue]="cer">{{ cer }}</option>
              
            </select>
          </div>

          <div class="input-group form-group">
            <select 
              name="root"
              required
              [(ngModel)]="certificate.root"
              (input)="onChange(this.certificate.root)"
              id="certificates"  class="form-control" >
              <option [ngValue]="null" [disabled]="true" >Izaberite ROOT</option>
              <option *ngFor="let cer of certificates; let i = index" [ngValue]="cer.certificateName">{{ cer.certificateName }}</option>
              
            </select>
          </div>
          
          <div class="input-group form-group">
            <input
              id="certificateName"
              class="form-control"
              type="text"
              placeholder="Naziv sertifikata"
              name="certificateName"
              required
              [(ngModel)]="certificate.certificateName"
              (input)="onChange(this.certificate.certificateName)"
            />
          </div>

          <div class="input-group form-group">
            <input
              id="surname"
              class="form-control"
              type="text"
              placeholder="Prezime"
              name="surname"
              required
              [(ngModel)]="certificate.surname"
              (input)="onChange(this.certificate.surname)"
            />
          </div>

          <div class="input-group form-group">
            <input
              id="givenName"
              class="form-control"
              type="text"
              placeholder="Ime"
              name="givenName"
              required
              [(ngModel)]="certificate.givenName"
              (input)="onChange(this.certificate.givenName)"
            />
          </div>

          <div class="input-group form-group">
            <input
              id="email"
              class="form-control"
              type="text"
              placeholder="Email adresa"
              name="email"
              required
              [(ngModel)]="certificate.email"
              (input)="onChange(this.certificate.email)"
            />
          </div>

          <div class="input-group form-group">
            <input
              id="organization"
              class="form-control"
              type="text"
              placeholder="Organizacija"
              name="organization"
              required
              [(ngModel)]="certificate.organization"
              (input)="onChange(this.certificate.organization)"
            />
          </div>

          <div class="input-group form-group">
            <input
              id="organizationalUnit"
              class="form-control"
              type="text"
              placeholder="Organizaciona jedinica"
              name="organizationalUnit"
              required
              [(ngModel)]="certificate.organizationalUnit"
              (input)="onChange(this.certificate.organizationalUnit)"
            />
          </div>

          <div class="input-group form-group">
            <input
              id="country"
              class="form-control"
              type="text"
              placeholder="Drzava "
              name="country"
              required
              [(ngModel)]="certificate.country"
              (input)="onChange(this.certificate.country)"
            />
          </div>

          <!--     <div class="input-group form-group">              
                <input id="startDate" class="form-control" type="text" placeholder="Vazi od: " name="startDate" required
                  [(ngModel)]="certificate.startDate"  (input)="onChange(this.certificate.startDate)">  
              </div>

             <div class="input-group form-group">              
                <input id="endDate" class="form-control" type="text" placeholder="Vazi do: " name="endDate" required
                  [(ngModel)]="certificate.endDate"  (input)="onChange(this.certificate.endDate)">  
              </div>
            -->

          <input
            id="startDate"
            readonly
            class="form-control"
            placeholder="Vazi od: "
            name="dp"
            [(ngModel)]="model0"
            ngbDatepicker
            #d0="ngbDatepicker"
            (click)="d0.toggle()"
            (ngModelChange)="onChangeDate()"
          />

          <br />
          <input
            id="endDate"
            readonly
            class="form-control"
            placeholder="Vazi do:"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            #d="ngbDatepicker"
            (click)="d.toggle()"
            (ngModelChange)="onChangeDate()"
          />

          <div id="error" *ngIf="isShown" class="alert alert-danger">
            Sva polja moraju biti popunjena!
          </div>

          <br />
          <div class="form-group">
            <button
              id="registerBtn"
              class="btn col-xl-4"
              type="submit"
              (click)="create()"
            >
              Kreiraj
            </button>
          </div>
          <br />
        </form>
      </div>
    </div>
  </div>
</div>