<section>
  <div class="example-button-row">
    <form>
      <div class="input-group form-group">
        <button type="button" class="btn btn-success" (click)="create()">
          Izdaj sertifikat
        </button>
      </div>

      <div class="input-group form-group">
        
        <button type="button" class="btn btn-info" (click)="list()">
          Uvid u sertifikate
        </button>
      </div>

      <div class="input-group form-group">
        
        <input [(ngModel)]="alias" name = "alias" type="text">
        <button type="button" class="btn btn-info" (click)="check()">
          Provera
        </button>

      </div>
    
    </form>
    
  </div>
</section>